<%- include('./partials/header') %>
<main>
  <h1>Welcome to the Assignment Tracker</h1>
  <p>Manage your assignments easily with our simple CRUD application.</p>
  <a href="/assignments" class="btn">View Assignments</a>
</main>
<%- include('./partials/footer') %>
